{% extends 'layout/index.html' %}

{% block title %}
<title> Instaladores </title>
{% endblock %}
 
{% block style %}
<link rel="stylesheet" href="/static/styles/installers/tools.css" />
{% endblock %} 

{% block body %}
<body>
    <section class="back">
        <span class="header"><strong> Windows C Assistant </strong></span>
        <div class="container">
            <div>
            <div class="img-area"></div>
            </div>
               
         
            <div class="single-box">
                <div class="img-text">
                    <h2>
                        Windows C Assistant es un asistente para la creación de formularios y un entorno virtual gráfico en MS-DOS mediante el cual se pretende simular una versión reciente del sistema operativo de WINDOWS 10, también funciona como instalador de la máquina virtual que simula MS-DOS "DOSBOX" y del lenguaje de programación utilizado 'Turbo C 2.0', además anexa la funcionalidad de instalar un editor de texto de Microsoft llamado Visual Studio Code.
                    </h2>
                    
                </div>
                <div class="download-btn">
                    <a class="btn btn-outline-success" href="https://drive.google.com/file/d/1HFouxM_4tV8I3lwL4LsJvdQUatNgmB60/view?usp=sharing"> Descargar </a>
                </div>
            </div>
        </div>

    </section>
</body>
{% endblock %}