{% extends 'layout/index.html' %}

{% block title %}
<title> Herramientas </title>
{% endblock %}
 
{% block style %}
<link rel="stylesheet" href="/static/styles/installers/tools.css" />
{% endblock %} 
 
{% block body %}
<body>
  <section class="landing">
    <div id="turbo-intro">
      <span class="tool-title"> Turbo C Studio 2021 </span>
      <!-- <h2> Rápido, Organizado e Intuitivo</h2> -->
      <div class="turbo-container">
        <div class="imgTurboCLogo">
          <img src="static\styles\installers\img\logo.png" alt="">
        </div>
        <div class="turbo-description">
          <p>
            Un asistente creado para facilitar el uso de <b>Turbo C 2.0</b>.
          </p>
          <a href="https://drive.google.com/file/d/1HFouxM_4tV8I3lwL4LsJvdQUatNgmB60/view?usp=sharing"> Descargar</a>
        </div>
      </div>
    </div>
  </section>

  <section class="interface">
    <div id="interface-imgs">
      <div class="interface-section">
        <div class="interface-description">
          <h1>Interfaz amigable</h1>
          <!-- <h3>Inspirado en Visual Studio Code</h3> -->
        </div>
        <div class="slider">
          <ul>
            <li><img src="static\styles\installers\img\home.svg" alt=""></li>
            <li><img src="static\styles\installers\img\forms.svg" alt=""></li>
            <li><img src="static\styles\installers\img\createdform.svg" alt=""></li>
            <li><img src="static\styles\installers\img\installers.svg" alt=""></li>
            <li><img src="static\styles\installers\img\settings.svg" alt=""></li>
            <li><img src="static\styles\installers\img\appSettings.svg" alt=""></li>
            <li><img src="static\styles\installers\img\dosboxSettings2.svg" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="functionalities">
    <div id="funct-content">
      <div class="funct-header">
        <h1> Funcionalidades </h1>
      </div>
      <div class="functions-description">
        <ul>
          <li> <img class="images" src="static\styles\installers\img\image 1.svg"><img/> Instaladores para Turbo C 2.0, DOSBox y Visual Studio Code. </li>
          <li> <img class="images" src="static\styles\installers\img\image 2.svg"><img/> Crea formularios con extensiones C o H. </li>
          <li> <img class="images" src="static\styles\installers\img\image 3.svg"><img/> Compila y ejecuta código desde cualquier directorio. </li>
          <li> <img class="images" src="static\styles\installers\img\image 4.svg"><img/> Abre código con Visual Studio Code o Turbo C 2.0. </li>
        </ul>
      </div>
    </div>
  </section>

  <section id="community">
    <div id="community-section">
      <div class="community-image">
        <img src="static\styles\installers\img\community.svg"> 
      </div>
      <div class="community-description">
        <h1> Comunidad </h1>
        <p>
          Unete al canal de Discord para conocer las nuevas actualizaciones.<br>
          Múltiples miembros comparten códigos y brindan consejos 
          de programación!
        </p>
        <a href="https://discord.gg/pMD4aEdq"> Unirse </a>
      </div>
    </div>
  </section>
</body>
{% endblock %}