.turbo-intro {
    width: 100%;
    background-image: linear-gradient(#6CD0FF 0%,#447FA5 25%, #1C2E4C 100%);
    background-position: center;
    background-size: cover;
}


.intro-container {
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.turbo-header {
    font-family: Poppins;
    text-align: center;
}

.tool-title {
    font-weight: bold;
    font-size: 80px;
    color: #fafafa;
}

.turbo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}

.imgTurboCLogo img {
    max-width: 300px;
}

.turbo-description {
    font-family: Nunito;
    max-width: 800px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.turbo-description p {
    font-size: 50px;
    color: #CCD6F6;
}

.turbo-description a {
    text-decoration: none;
    color: #112D60;
    font-size: 40px;
    font-weight: 600;
    /*display: grid;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 50px;
    /*margin: auto;*/
    /*place-items: center;*/
    /*position: absolute;*/
    /*left: 580px;
    right: 0;
    top: 85%;
    bottom: 0;*/
}

@media (max-width: 768px) {

    .turbo-container {
        flex-direction: column;
    }

    .imgTurboCLogo {
        margin-left: auto;
        margin-right: auto;
    }

    .imgTurboCLogo img {
        max-width: 200px;
    }

    .turbo-description {
        margin-top: 5%;
        margin-left: unset;
        max-width: 500px;
        align-items: center;
    }

    .turbo-description p {
        font-size: 35px;
        text-align: center;
    }

    .turbo-description a {
        font-size: 30px;
        max-width: 200px;
        height: unset;
    }
}

.turbo-description a:hover {
    transform: translateX(7px);
    transition: .3s;
    cursor: pointer;
}

.interface {
    height: 150vh;
    width: 100%;
    background-color: #1C2E4C;
    background-position: center;
    background-size: cover;
}

.interface-section {
    padding-top: 15%;
}

.interface-description {
    font-family: NTR;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*position: relative;
    display: flex;
    flex-direction: row;*/
    /*margin-left: 5px;*/
}

.interface-description h1 {
    font-weight: bold;
    font-size: 50px;
    color: #6CD0FF;
    letter-spacing: 3px;
    /*margin-left: 35%;*/
}

.interface-description h3 {
    margin-top: 20px;
    color: #6CD0FF;
    font-size: 30px;
}
.carousel-inner{
    margin-top: 3%;
    max-width: 75%;
    margin-left: 12.5%;
}

@media (max-width: 768px) {
    .interface {
        height: 90vh;
    }
}

.functionalities {
    height: 200vh;
    width: 100%;
    background-color: #071C34;
    background-position: center;
    background-size: cover;
}

.funct-content {
    font-family: Poppins;
}

.funct-header {
    width: 80%;
    padding-top: 7%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*padding-left: 34%;*/
}

.funct-header h1 {
    font-size: 50px;
    font-weight: lighter;
    color: #9FB1BC;
    letter-spacing: 3px;
}

.functions-description {
    padding-top: 2%;
    padding-bottom: 5%;
    /*width: 90%;*/
    margin-left: auto;
    margin-right: auto;
}

.functions-description ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.functions-description ul li {
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7%;
    /*margin-bottom: 10px;*/
    margin-left: auto;
    margin-right: auto;
    /*margin-left: 5%;*/
}

.functions-description li:hover {
    transform: translateX(-7px);
    transition: .4s;
}

.functions-description img {
    max-width: 300px;
    /*padding-left: 4%;*/
}

.functions-description .text-section {
    margin: 0;
    font-size: 30px;
    color: #6CD0FF;
    margin-left: 10%;
}

@media (max-width: 768px) {

    .functionalities {
        height: unset;
    }

    .funct-header h1 {
        font-size: 30px;
    }

    .functions-description ul {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .functions-description img {
        max-width: 140px;
    }

    .functions-description .text-section {
        font-size: 20px;
        text-align: left;
    }
}

#community {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(#38a2d6 3%, #475683 37%, #551138 100%);
    background-position: center;
    background-size: cover;
    font-family: Poppins;
    font-size: 18px;
}

.community-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15%;
    margin-left: auto;
    margin-right: auto;
    /*padding-top: 12%;
    padding-right: 5%;*/
    /*height: 100%;*/
}

.community-description {
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*margin-left: 50px;
    margin-bottom: 10%;*/
}

.community-description h1 {
    font-size: 3rem;
    margin-bottom: 5px;
    color: #FFFFFF;
    text-align: center;
}

.community-description p {
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-top: 15px;
    /*max-width: 400px;*/
    text-align: center;
}

.community-image img {
    max-width: 700px;
}

.community-description a {
    font-family: Poppins;
    text-decoration: none;
    color: #A0616A;
    font-size: 30px;
    font-weight: 600;
    /*display: grid;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 50px;
    margin-top: 10px;
    /*margin: auto;*/
    /*place-items: center;*/
    /*position: relative;*/
    /*left: 90px;
    right: 0;
    top: 10px;
    bottom: 0;*/
}

.community-description a:hover {
    transform: translateX(7px);
    transition: .3s;
    cursor: pointer;
}

@media (max-width: 992px) {

    #community {
        height: unset;
    }
    
    .community-section {
        flex-direction: column;
        padding-top: 20%;
    }

    .community-image {
        margin-left: auto;
        margin-right: auto;
    }

    .community-image img {
        max-width: 350px;
    }

    .community-description {
        width: unset;
        max-width: 450px;
        margin-top: 10%;
        padding-bottom: 10%;
    }

    .community-description a {
        font-size: 25px;
        max-width: 200px;
        height: unset;
    }
}