* {
    padding: 0;
    margin: 0;
}

.back {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
}

.container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;     
    margin: 0% auto;

   /* padding-top: 30px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;*/
}

.single-box {
    display: block;
    flex-direction: column;
    justify-content:left;
    width: 700px;
    height: 500px;
    border-radius: 4px;
    background-color: #008ecc;
    color: #fff;
    text-align:center;
    margin:20px;
    padding: 10px;
    transition: .6s;
    cursor: pointer;
    /*box-shadow: 4px 4px 0 rgba(0, 0, 0, .4);*/
}

.single-box .img {
    /*display:flex;
    justify-content: center;
    align-items: center;*/
    width: 400px;
    height: 400px;
}

.single-box:hover {
    transform: translate(0, -10px);
}

.img-area {
    margin-left: 20px;
    background-image: url(/static/styles/installers/img/WindowsC_img.png);
}

.img-area {
    display:grid;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    margin-bottom: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center center;
}

.header {
    padding-top: 40px;
    font-family: Nunito;
    font-style: normal;
    font-size: 40px;
    font-weight: 200;
    line-height: 48px;
    text-align: center;
    margin-left: 500px;
    color: #333;
}
.h2{
    padding-top: 20px;
}
.img-text {
    width: 599px;
    height: 614px;
    left: 57px;
    top: 100px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    
}

.img-text p {
    justify-self: unset;
 /*   padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-weight:lighter;*/
}

.download-btn .btn {
    margin-top: 20px;
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
}