.landing {
    /* entrada */
    width: 1440px;
    height: 875px;
    background: linear-gradient(90deg, #0052d4 0%, #4364f7 50%, #6fb1fc 100%);
    background-position: center;
    background-size: cover;
}
