{% extends 'layout/index.html' %}

{% block style %}
<link rel="stylesheet" href="/static/styles/show_project.css" />
{% endblock %}

{% block title %}
<title>{{ username }}/{{ name }} | CodeLand</title>
{% endblock %}

{% block body %}
<p>XD</p>
{% if directory %}
<ul class="project-file container">
    {% for file_name in directory %}
    <li id="file" data-filename="{{ file_name }}" class="item-filename">{{ file_name }}</li>
    {%endfor%}
</ul>
{% if session.get('user_id') %}
<button>submit file</button>
{% endif %}

{% endif %}
<div class="container code_container">
    <div class="header_code">
        <div class="circle bg-danger p-2"></div>
        <div class="circle bg-warning p-2"></div>
        <div class="circle bg-success p-2"></div>
    </div>
    <div id="show_code"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/show_project.js"></script>
{% endblock %}