{% extends 'layout/index.html' %} {% block style %}
<link rel="stylesheet" href="/static/styles/show_project.css" />
{% endblock %} {% block title %}
<title>{{ username }}/{{ name }} | CodeLand</title>
{% endblock %} {% block body %}

<section class="ide-container">
    {% if directory %}
    <div class="menu">
        <section class="sidenav-explorer" id="sidenav-explorer">

        </section>
        <div class="description-project" id="description">
            <h5>Descrición sobre el proyecto</h5>
            <p>{{description}}</p>
        </div>
    </div>
    {% endif %}
    <div class="header_code">
        <div class="group-tab">
            <div class="circle bg-danger p-2"></div>
            <div class="circle bg-warning p-2"></div>
            <div class="circle bg-success p-2"></div>
        </div>
        <section class="editor-group" id="editor-group">
            <!-- <div class="tab active">
                <div class="close-tab">
                    <i>
                        <img width="16px" src="/static/icons/close-icon.svg" alt="Cerrar archivo">
                    </i>
                </div>
                <div class="filename">
                    <p>Presentación.c</p>
                </div>
            </div>
            <div class="tab">
                <div class="close-tab">
                    <i>
                        <img width="16px" src="/static/icons/close-icon.svg" alt="Cerrar archivo">
                    </i>
                </div>
                <div class="filename">
                    <p>Puente_desnivel.c</p>
                </div>
            </div> -->
        </section>
    </div>
    <div class="code_container">
        <div id="show_code"></div>
    </div>
</section>
{% endblock %} {% block scripts %}
<script>
    const datas = JSON.parse("{{directory}}".replaceAll("&#39;", '"'))
    const projectName = "{{ name }}"
</script>
<script src="/static/scripts/show_project.js"></script>
{% endblock %}
