#register-section {
    height: 100vh;
    /*width: 100vw;*/
    width: 100%;
    margin: 0;
    /*background-color: #551138;*/
    background-image: linear-gradient(#551138 10%, #53114e 55%, #5b146f 100%);
    background-position: center;
    background-size: cover;
    font-family: Poppins;
}

.container {
    width: 100%;
    padding-top: 10%;
}

.register-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.image-text-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.register-img {
    order: 2;
}

.register-img img {
    max-width: 400px;
}

.text-section {
    color: #fafafa;
    text-align: center;
    order: 1;
    margin-bottom: 6px;
}

h3 {
    font-size: 40px;
    letter-spacing: 2px;
}

p {
    font-size: 30px;
}

.register-forms {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /*margin-top: 6%;*/
    /*display: flex;
    flex-direction: column;*/
}

.form-box {
    color: #141414;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    cursor: default;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
}

.mb-3 {
    width: 100%;
    max-width: 300px;
}

.register-forms button {
    font-size: 18px;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}

@media (max-width: 992px) {

    .container {
        padding: 0;
    }

    #register-section {
        height: 127vh;
    }

    .register-container {
        max-width: 400px;
        padding: 0;
        margin: auto;
        flex-direction: column;
    }

    .image-text-section {
        width: 100%;
        margin-top: 50px;
    }

    .register-img {
        margin: auto;
        margin-bottom: 0;
        order: 1;
    }

    .register-img img {
        /*display: none;*/
        width: 100%;
        max-width: 300px;
    }

    .text-section {
        margin-top: 30px;
        order: 2;
    }

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    .register-forms {
        max-width: 300px;
    }
}