{% extends "layout/index.html" %}
{% block title %}
<title>{{ user.username }} | CodeLand</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/styles/profile.css">
{% endblock %}

{% block body %}
<div class="custom-container">
    <section class="hero_profile">
        <div class="my-5">
            <h1>Hola, {{ user.username}}!</h1>
            <small>{{ user['email'] }}</small>
            <p>Se unió el {{ user.created_at.strftime('%d %b %Y') }}</p>
            <div class="edit">
                <button id="btn-modal-editar" class="btn btn-primary">Editar</button>
            </div>
        </div>
        <div class="user-image">
            {# <a href="/edit/{{user._id}}" class="btn btn-primary">Edit</a> #}
            <img src="data:image/{{user.contentType}};base64,{{user.perfil.decode('ascii')}}" alt="user profile" alt="">
        </div>
    </section>
    <h3>Agrega un proyecto</h3>
    <a href="/add-project"  class="btn btn-primary">Submit code</a>
    <section>
        <div class='row' id="projects">
            {% if user['projects'] %}
            <div class="col col-lg-12">
                <h3>Proyectos: {{ '0' if user['projects'] == None else user['projects'] | length }}</h3>
            </div>
            {% for project in user['projects'] %}
            <div class='col col-lg-4'>
                <div class='card' style='width: 18rem;'>
                    <img src="data:image/{{project.contentType}};base64,{{project.image.decode('ascii')}}" alt="{{project.title}}">
                    <div class='card-body'>
                        <h5 class='card-title'>{{project.project_name}}</h5>
                        <p class='card-text'>
                            {{project.description}}
                        </p>
                        <a href='/project/{{user.username}}/{{project.project_name}}' class='btn btn-primary'>Ver y editar</a>
                        <form id="delete-project">
                            <input type="hidden" name="id" value="{{project._id}}">
                            <button class='btn btn-danger'>Borrar proyecto</button>
                        </form>
                        <a class='btn btn-primary' href="/download-project/{{project._id}}" download>Descargar</a>
                        <form id="formPublic">
                            <input type="hidden" value="{{project._id}}" name="publicProject">
                            <button class="btn btn-primary">Publicar Proyecto</button>
                        </form>
                    </div>
                </div>
            </div>
                {% endfor %}
        {% else %}
        <h4>No tienes proyectos :(</h4>
        <a href="/add-project">Agrega un proyecto a tu cuenta</a>
        {% endif %}
    </div>    
</section>
</div>

<div class="custom-modal" id="custom-modal">
    <h2>Actualiza tu información</h2>
    <form id="edit-info">
        <input type="hidden" name="id" value="{{user._id}}">
        <div class="input-container">
            <label for="modal_username">Nombre</label>
            <input class="form-control my-3" id="modal_username" name="username" type="text" value="{{ user['username'] }}">
        </div>
        <div class="input-container">
            <label for="modal_email">Correo</label>
            <input class="form-control my-3" id="modal_email" name="email" type="email" value="{{ user.email }}">
        </div>
        <div class="input-container">
            <label for="modal_password">Contraseña</label>
            <input class="form-control my-3" id="modal_password" name="password" type="password">
        </div>
        <div class="input-container">
            <label for="perfil">Foto de perfil</label>
            <input class="form-control my-3" id="perfil" name="perfil" type="file">
        </div>
        <div class="input-container">
            <label for="password_confirm">Confirmar contraseña</label>
            <input class="form-control my-3" id="password_confirm" name="password_confirm" type="password">
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>
<div class="overlay-modal" id="overlay-modal"></div>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/profile.js"></script>
{% endblock %}