{% extends 'layout/index.html' %}

{% block style %}
<link rel="stylesheet" href="/static/styles/show_ejemplo.css" />
{% endblock %}

{% block title %}
<title> Codigo/{{ ejemplo }} | CodeLand</title>
{% endblock %}

{% block body %}

{% if directory %}
{% for dirs in directory %}    
    <details>
        <summary>{{ dirs.split('\\')[-1] }}</summary>
        <ul>
        {% for file in directory[dirs] %}
            <li id="file" data-location="{{dirs}}" data-filename="{{file}}">{{file}}</li>
        {% endfor %}
            </ul>
    </details>
{% endfor %}
{% if session.get('user_id') %}
<button>submit file</button>
{% endif %}

{% endif %}
<div class="container code_container">
    <div class="header_code">
        <div class="circle bg-danger p-2"></div>
        <div class="circle bg-warning p-2"></div>
        <div class="circle bg-success p-2"></div>
    </div>
    <div id="show_code"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/show_ejemplo.js"></script>
{% endblock %}