{% extends 'layout/index.html' %} {% block style %}
<link rel="stylesheet" href="/static/styles/show_static_project.css" />
{% endblock %} {% block title %}
<title>{{ type }}/{{ name }} | CodeLand</title>
{% endblock %} {% block body %}

<section class="ide-container">
    {% if directory %}
    <div class="sidenav-editor">
        <div class="menu">

        </div>
        <div class="directories">
            <section class="explorer-editor" id="explorer-editor">
    
            </section>
            {% if description %}
            <div class="description-project" id="description">
                <h5>Descrición sobre el proyecto</h5>
                <p>{{description}}</p>
            </div>
            {% endif %}
        </div>
        <section>
            <a href="{{download_URI}}" download class="btn btn-primary">descargar código</a>
        </section>
    </div>
    {% endif %}
    <div class="header_code">
        <div class="group-tab">
            <div class="circle bg-danger p-2"></div>
            <div class="circle bg-warning p-2"></div>
            <div class="circle bg-success p-2"></div>
        </div>
        <section class="editor-group" id="editor-group">
        </section>
    </div>
    <div class="code_container">
        <div id="show_code"></div>
    </div>
</section>
{% endblock %} {% block scripts %}
<script>
    window.__PRELOADED_STATE__  = JSON.parse("{{directory}}".replaceAll("&#39;", '"'))
    console.log(window.__PRELOADED_STATE__)
    window.__PROJECT_NAME__ = "{{name}}"
    window.__DIR_DEPTH__ = 3
</script>
<script src="/static/scripts/show_project/show_project.js" type="module"></script>
{% endblock %}