{% extends "layout/index.html" %}

{% block style %}
<link rel="stylesheet" href="/static/styles/panel/style.css">
{% endblock %}

{% block title %}
<title>Panel de usuarios | CodeLand</title>
{% endblock %}

{% block body %}
<h1>panel</h1>
<div class="card-container" id="card-container">
    {% for user in users %}
    <div class="card" data-user_id="{{user['_id']}}">
        <div class="header-card">
            <div class="card-image">
                <img src="data:{{user.contentType}};base64,{{user.perfil.decode('ascii')}}" alt="{{user['username']}}">
            </div>
        </div>
        <div class="card-content">
            <div class="card-title">
                <p>{{user['username']}}</p>
                <small>{{user['email']}}</small>
            </div>
            <div class="footer-card">
                <button data-edit_user="{{user['_id']}}" class="btn btn-edit">Editar</button>
                <button class="btn btn-delete" data-delete_user="{{user['_id']}}">Borrar</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="user-modal" id="user-modal">
    <div class="loading">
        <img src="https://i.pinimg.com/736x/89/59/2b/89592b3392fee110134235e95d80dbf7.jpg" width="50px" alt="Cargando">
    </div>
    <h2>Actualiza la info de: </h2>
    <form id="edit-info">
        <input type="hidden" name="id" value="">
        <div class="input-container">
            <label for="modal_username">Nombre</label>
            <input class="form-control my-3" id="modal_username" name="username" type="text" value="">
        </div>
        <div class="input-container">
            <label for="modal_email">Correo</label>
            <input class="form-control my-3" id="modal_email" name="email" type="email" value="">
        </div>
        <div class="input-container">
            <label for="modal_password">Contraseña</label>
            <input class="form-control my-3" id="modal_password" name="password" type="password">
        </div>
        <div class="input-container">
            <label for="perfil">Foto de perfil</label>
            <input class="form-control my-3" id="perfil" name="perfil" type="file">
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>

</div>
<div class="user-overlay" id="user-overlay"></div>
{% endblock %}

{% block scripts %}
<script>
    const $listEditUser = document.querySelectorAll('[data-edit_user]')
    const $listDeleteUser = document.querySelectorAll('[data-delete_user]')
    const $userOverlay = document.querySelector('#user-overlay') 
    const $cardContainer = document.getElementById('card-container')
    const $userModal = document.querySelector('#user-modal')
    const $formEdit = document.getElementById('edit-info')

    $formEdit.addEventListener('submit', async function (event) {
        event.preventDefault()
        debugger
        userId = this.dataset.update_id
        const formData = new FormData(event.currentTarget)
        const response = await fetch(`/admin/update_user/${userId}`, {
            method: 'PUT',
            body: formData
        })
        console.log(response)
        const data = await response.json()
        console.log(data)
    })

    $listEditUser.forEach(function(user) {
        user.addEventListener('click', function () {
            $userModal.classList.add('active')
            $userOverlay.classList.add('active')
            console.log(this.dataset)
            $userModal.getElementsByTagName('form')[0].setAttribute('data-update_id', this.dataset.edit_user)
        })
    })

    $listDeleteUser.forEach(user => {
        user.addEventListener('click', async function() {
            userId = this.dataset.delete_user
            const response = await fetch(`admin/delete_user/${userId}`, {
                method: 'DELETE',
            })
            console.log(response)
            const data = await response.json()
            user = JSON.parse(data.user)
            $cardContainer.removeChild(document.querySelector(`[data-user_id="${user._id.$oid}"]`))
        })
    })

    $userOverlay.addEventListener('click', function() {
        this.classList.remove('active')
        $userModal.classList.remove('active')
    })
</script>
{% endblock %}