#login-section {
    height: 100vh;
    width: 100%;
    background-color: #551138;
    background-position: center;
    background-size: cover;
    font-family: Nunito;
}

.container h3 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    font-size: 20px;
    padding-top: 5%;
    width: 90%;
    padding-left: 0;
    padding-right: 0;
}

/*.form-box {
    max-width: 100%;
}*/

.form-section {
    max-width: 100%;
    color: #141414;
    font-weight: bold;
    cursor: default;
    padding: 3rem;
    background-color: #fff;
    border-radius: 16px;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
}

.form-container {
    width: 100%;
    margin-bottom: 10px;
}

.container button {
    width: 100%;
    margin-top: 10px;
}

.btn {
    font-size: 20px;
}

.register-access {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    /*width: 100%;*/
    margin-top: 20px;
}

.mx-2 {
    font-size: 18px;
    /*width: 90%;*/
    color: #141414;
    font-weight: normal;
    text-align: center;
}

.register-access a {
    text-decoration: none;
    text-align: center;
}

@media screen and (min-width: 576px) {
    /*.container {
        width: 80%;
        font-size: 25px;
    }*/

    .form-section {
        max-width: none;
        margin-left: 20px;
        margin-right: 20px;
    }

    .btn {
        font-size: 20px;
    }

    .mx-2 {
        font-size: 20px;
    }

    .form-container {
        width: 60%;
    }

    .container .btn{
        width: 60%;
    }

    .form-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .container {
        width: 70%;
        font-size: 20px;
    }

    .form-section {
        margin-left: 50px;
        margin-right: 50px;
    }

    /*.form-container {
        width: 60%;
    }

    .container .btn{
        width: 60%;
    }

    .form-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }*/
}

@media (min-width:992px) {

    .form-section {
        margin-left: 70px;
        margin-right: 70px;
    }

    /*.form-container {
        width: 60%;
    }

    .container .btn{
        width: 60%;
    }

    .form-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }*/
}