{% extends 'layout/index.html' %}

{% block title %}
<title> Proyectos | Modo grafico </title>
{% endblock %} 

{% block style %}
<link rel="stylesheet" href="/static/styles/modo_texto/texto.css" />
{% endblock %}

{% block body %}
<body>
    <section class="projects">
        <div class="project-container">
            <div class="projects-section">
                {% for project in db_project %}
                <div class="project">
                    <img src="{{project['image_route']}}" id="conteinerImg">
                    <h5>{{project['program_title']}}</h5>
                    <a class="btn btn-primary" href="/static_projects/graphic_mode/{{project['program_title']}}" role="button">Ver código</a>
                </div>
                {% endfor %}
                <!---<h2>Proyectos de estudiantes</h2> -->
                {% for project in db_project_user %}
                <div class="project">
                    <img src="{{project['image']}}" id="conteinerImg">
                    <h5>{{project['project_name']}}</h5>
                    <a class="btn btn-primary" href="/project/{{project['author']}}/{{project['project_name']}}" role="button">Ver código</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>
{% endblock %} 