.all-documentation{
    min-height: 100vh;
    width: 100%;
    background-color: #fafafa;
    background-position: center;
    background-size: cover;
}
.documentation{
    display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 8px;
}

.document-img {
   /* float: center;*/
    margin-top: 20px;
    margin-left: 50px;
    height: 270px;
    width: 320px;
}

.documentation .watch-document .btn {
    margin-top: 0px;
    margin-left: 70px;
}

.documentation h5 {
    font-size: 18px;
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 70px;
    margin-top: 15px;
    color: #000;
}
