* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
}
.contenedorHome {
    /* HOME*/
    position:static;
    width: 1440px;
    margin: 0% auto;
    height: 3725px;
    background: #fafafa;
}
.entrada {
    /* Entrada */
    width: 1440px;
    margin: 0% auto;
    height: 784px;
}
.contenedor-de-textos {
    /* hero_title */

    /* Auto Layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 514px;
    height: 496px;
    left: 103px;
    top: 237px;
}
.contenedor-imagenInicioHome {
    /*Imagen de inicio del home*/
  
    width: 586px;
    height: 551.19px;
    left: 720px;
    top: 114px;
}
.bienvenida {
    position: static;
    width: 514px;
    height: 33px;
    left: 0px;
    top: 55px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */

    text-align: center;

    color: #959da5;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 29px 0px;
}
.descripcion {
    position: static;
    width: 514px;
    height: 246px;
    left: 0px;
    top: 60px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #000000;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 29px 0px;
}
.btnSignInHome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 59px;

    position: static;
    width: 332px;
    height: 49px;
    left: 91px;
    top: 392px;

    background: #5976ee;
    border-radius: 8px;

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 29px 0px;
    /*Para el texto*/

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #ffffff;
}
.entrada-explorer {
  
    width: 1440px;
    height: 702px;
    left: 0px;
    top: 827px;
    background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
}
.titulo1 {
   
    width: 1345px;
    height: 93px;
    left: 50px;
    top: 91px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #000000;
}
.secundario {
    color: rgba(0, 0, 0, 0.32);
}
.contenedor-imagenInicioHomeExplorer1 {
    /* explora */
   
    width: 406px;
    height: 306px;
    left: 103px;
    top: 267px;
}
.contenedor-imagenInicioHomeExplorer2 {
    /* descarga */
   
    width: 406px;
    height: 306px;
    left: 519px;
    top: 275px;
}
.contenedor-imagenInicioHomeExplorer3 {
    /* aprende */
    position: absolute;
    width: 406px;
    height: 306px;
    left: 923px;
    top: 266px;
}
.entrada-informacion {
    /* Bloque de info */
    width: 1440px;
    height: 1050px;
    left: 0px;
    top: 1529px;
}
.contenedorLenguajeC {
    /*Lenguaje C*/
  
    width: 1180px;
    height: 329px;
    left: 191px;
    top: 38px;

    background: #726868;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.textoC {
  
    width: 586px;
    height: 241px;
    left: 14px;
    top: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: rgba(250, 250, 250, 0.85);
}
.imagenLenguajeC {
    width: 303px;
    height: 243px;
    left: 900px;
    top: 76px;
}
.contenedorCompiladorTC20 {
    /*info del compilador*/

    width: 1180px;
    height: 336px;
    left: 57px;
    top: 401px;

    background: rgba(114, 104, 104, 0.96);
    backdrop-filter: blur(4px);

    border-radius: 3px;
}
.compilador {
    
    width: 684px;
    height: 137px;
    left: 360px;
    top: 109px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #fafafa;
}
.imagenCompilador {
    
    width: 263px;
    height: 306px;
    left: 75px;
    top: -31px;
}
.contenedorHeader {
    /*cabecera .h <informacion>*/
   
    width: 1176px;
    height: 285px;
    left: 206px;
    top: 773px;

    background: #726868;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cabeceraH {
   
    width: 682px;
    height: 232px;
    left: 12px;
    top: 22px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #fafafa;
}
.imagenCabeceraH {
    /*CabeceraH*/
    position: sticky;
    width: 380px;
    height: 306px;
    left: 971px;
    top: 720px;
}
.entrada-documentacion {
    
    width: 1440px;
    height: 792px;
    left: 0px;
    top: 2703px;

    background: linear-gradient(90deg, #485563 0%, #29323c 100%);
}
.tituloDoc {
    /* Documentacion de el lenguaje C en español */
    
    width: 709px;
    height: 127px;
    left: 377px;
    top: 50px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #fafafa;
}
.descripcionDoc {
    /**/
   
    width: 416px;
    height: 529px;
    left: 52px;
    top: 140px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #ffffff;
}
.imagenDocumentacion {
   
    width: 409px;
    height: 301px;
    left: 783px;
    top: 252px;
    backdrop-filter: blur(4px);
}
.entrada-pieDePagina {
    /* Entrada-PieDePagina */
   
    width: 1440px;
    height: 230px;
    left: 0px;
    top: 3495px;

    background: #0f1527;
}
.tituloPieDePagina {
    /* CodeLand */
   
    width: 245px;
    height: 63px;
    left: 95px;
    top: 35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 63px;

    color: #fafafa;
}
.imagenLogo {
    /* Logo */
   
    width: 136px;
    height: 88px;
    left: 0px;
    top: 0px;
}
.titulo2PieDePagina {
    /* ©2021 CodeLand */
   
    width: 222px;
    height: 30px;
    left: 5px;
    top: 197px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;

    color: #fafafa;
}
