* {
    box-sizing: border-box;
}

:root {
    --primary-color: #09f;
    --danger-color: #f00;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #09f;
    border-radius: 12px;
}
body {
    font-family: "Nunito", "Poppins", Arial, Helvetica, sans-serif;
    margin: 0;
}

.btn.btn-menu {
    padding: 0;
}
.alert{
    z-index: 1 !important;
}
.alert alert-primary{
    padding: 0% !important;
}
@media screen and (max-width:700px)  {
    .row{
        flex-direction: column;
    }
    #landing-text{
        order: 2 !important;
        margin-top:0% !important;
        text-align: center;
    }
    #intro{
        margin-top: 0% !important;
        text-align: center;
    }
    #description{
        text-align: center;
    }
    #btn-home{
        margin: 20%;
    }
}
#btn-home{
    font-family: roboto !important;
    text-align: center !important;
    font-size: 150%;
}
#hero-img{
    order:1;
}
#landing-text{
    order: 0;
   padding-left: 5%;
}
#explorer{
    font-family: roboto;
    text-align: center;
}
.landing{
    background: #1B1B1B;
    color: rgb(255, 255, 255);
    max-width: 100%;
    width: 100%;
    height:100%;
    padding: 5%;
}
#intro{
    font-family: roboto;
    font-style: bold;
    margin-top: 20%;
}
#img1,#img2,#img3{
    justify-content: center !important;
    text-align: center !important;
}
.information-space{
    padding: 8%;
}
#intro-options{
    text-align: center;
    color: rgb(255, 255,255);
}
.options{
    border-radius: 32px;
    width: 95%;
    height: 100%;
    background-color: #07273D;
    padding: 10%;
    margin-left: 2.5%;
    margin-block-end: 5%;
}
#conteiner-options{
    justify-content: space-around;
}

.entrada-pieDePagina {
    /* Entrada-PieDePagina */
   padding: 20px;
    left: 0px;
    top: 3495px;

    background: #0f1527;
}
.tituloPieDePagina {
    /* CodeLand */
   
    width: 245px;
    left: 95px;
    top: 35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 63px;

    color: #fafafa;
}
.imagenLogo {
    /* Logo */
   
    width: 136px;
    left: 0px;
    top: 0px;
}
.titulo2PieDePagina {
    /* ©2021 CodeLand */
    margin-bottom: 0;
    width: 222px;
    left: 5px;
    top: 197px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;

    color: #fafafa;
}