.main-container{
    min-height : 100vh;
    background-color: #1f2937;
}

label {
    color: #eee;
}

.custom-container {
    width: 90%;
    margin: 0 auto;
    /*padding-block-end: 12%;
    padding-top: 2%;*/
    /*margin: 0 auto;*/
   
}
h1,h2,h3,h4,h5,p{
    color: whitesmoke !important;
}

.hero_profile {
    margin: 40px 0;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 20px;
}

.user-image {
    display: flex;
    justify-content: flex-start;
}

.cover-image {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #eee;
}

.user-profile-info {
    text-align: left;
}

.user-profile-info h1 {
    font-weight: bold;
}

.user-profile-info small {
    color: rgb(156,163,175);
}

.progress-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.progress-user {
    color: #eee;
    background-color: #2a3648;
    padding: .75rem;
    margin: 40px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 33.3%;
}

.border-project {
    border-left: 4px solid rgb(29, 78, 216);
    padding-left: .5rem;
}

.project-list {
    display: flex;
    gap: 0 20px;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

.card {
    flex: 0 0 auto;
}

.card-title,.card-text{
    color: black !important;
}

.card-body, .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-fragment {
    background-color: #111;
}

@media screen and (min-width: 996px) {
    .custom-container {
        margin: 0 auto;
        width: 80%;
    }

    /* .hero_profile {
        display: flex;
        justify-content: space-evenly;
    } */
    
    .row {
        margin-top: 15px;
    }

}

.project-main-container{
    align-items: center !important;
    justify-content: center !important;
}
.custom-modal {
    background-color: #252836;
    position: fixed;
    border-radius: 12px;
    padding: 1.2em;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 800px;
    height: 90vh;
    margin: 0 auto;
    overflow: auto;
    transition: transform .6s ease-in-out;
    transform: translateY(-150vh) translateX(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

.custom-modal.active {
    z-index: 12;
    transition: transform .6s ease-in-out, opacity .2s;
    opacity: 1;
    transform: translateY(-50%) translateX(-50%);
}

.overlay-modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .34);
}

.overlay-modal.active {
    display: block;
}
