.main-container{
    min-height : 100vh;
    background-color: #252836;
}


.custom-container {
    width: 100%;
    /*padding-block-end: 12%;
    padding-top: 2%;*/
    /*margin: 0 auto;*/
   
}
h1,h2,h3,h4,h5,p,small{
    color: whitesmoke !important;
}
.card-title,.card-text{
    color: black !important;
}
.user-image img {
    width: 20vw;
    height: auto;
    border-radius: 50%;
    
}
.user-image{
    width: 50%;
    margin-right: 3%;
}

.hero_profile {
    margin: 20px 0;
    width:50%;
}
@media screen and (max-width:700px)  {
    .hero_profile{
        text-align:center;
        justify-content: center;
        width: 100%;
    }
    .user-image img {
        width: 80%;
        margin-left: 55%;
    }
    .user-projects{
        text-align:center;
        justify-content: center;
        width: 100%;
    }
    .card{
        text-align:center !important;
        justify-content: center !important;
        width: 60% !important;
        margin-left: 20%;
    }
}

@media screen and (min-width: 996px) {
    .custom-container {
        margin-left: 40px;
    }

    .hero_profile {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
    }
    
    .row {
        margin-top: 15px;
    }

}

.project-main-container{
    align-items: center !important;
    justify-content: center !important;
}
.custom-modal {
    background-color: #252836;
    position: fixed;
    border-radius: 12px;
    padding: 1.2em;
    top: 50%;
    left: 50%;
    width: 80%;
    max-width: 800px;
    height: 90vh;
    margin: 0 auto;
    overflow: auto;
    transition: transform .6s ease-in-out;
    transform: translateY(-1000px) translateX(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

.custom-modal.active {
    z-index: 12;
    transition: transform .6s ease-in-out, opacity .2s;
    opacity: 1;
    transform: translateY(-50%) translateX(-50%);
}

.overlay-modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .34);
}

.overlay-modal.active {
    display: block;
}
