.ide-container {
    --background-color: #071c34;
    --background-code: rgb(11, 16, 21);
    --background-header-ide: rgb(17, 24, 32);
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 40px 1fr;
    flex-shrink: 1;
    justify-content: space-between;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.ide-container::-webkit-scrollbar {
    width: 0;
}

.project-file {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 15px;
}

.item-filename {
    padding: 12px;
    color: #eee;
    background-color: #09f;
    cursor: pointer;
}

.header_code {
    grid-column: 2 / 3;
    display: flex;
    padding: 10px;
    gap: 6px;
    border: 1px solid gray;
    background-color: var(--background-header-ide);
}

.circle {
    border-radius: 50%;
    width: 1px;
    height: 1px;
}

.code_container {
    grid-row: 2 /3;
    grid-column: 2 / 3;
    width: 100%;
    padding: 0;
    background-color: var(--background-code);
}

#show_code {
    padding: 10px;
}

.menu {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 100%;
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-weight: bold;
    padding: 1rem;
    display: inline-flex;
    flex-direction: column;
    background-color: rgba(8, 11, 15);
}

.menu:hover {
    color: #C26DBC;
}

details {
    padding: 0 1rem;
}

details > summary::after {
    content: url(/static/styles/menu-img/caret-right-fill.svg);
    width: 1.6rem;
    height: 1.6rem;
    display: inline-flex;
    justify-content:space-between;
    align-content: center;
}

.menu details[open] > summary::after {
    content: url(/static/styles/menu-img/caret-down-fill.svg);
}

.menu details[open] > summary {
    color: rgb(255, 141, 3);
}

details > summary {
    /*display: inline-flexbox;*/
    /*justify-content: space-around;
    /*padding: 1rem;*/
    list-style: none;
    cursor: pointer;
    transition: .6s;
    color: #eee;
}

.content ol{
    padding-left: 0;
    list-style: none;
    cursor: pointer;
    color: #eee;
}

.content ol li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content ol li:hover {
    color: #4CD7D0;
}
