{% extends 'layout/index.html' %}

{% block title %}
<title> Documentacion | Lenguaje C </title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/styles/documentacion/documentacion.css" />
{% endblock %}

{% block body %}
<body>
      <div class="row"> 
        {% for documentation in db_documentation %}
          <div class="column">
              <img src="{{documentation['image_route']}}" class="img">
              <h5>{{documentation['document_title']}}</h5>
              <a class="btn btn-primary" href="{{documentation['path']}}" role="button">Ver código</a>
          </div>
        {% endfor %}
      </div>
</body>

{% endblock %} 