<header class="header-site px-3">
    <div class="header-left">
        <div class="header-logo">
            <a href="/">
                <img src="/static/images/logos.png" class="responsive-img" alt="logo">
            </a>
        </div>
        <div class="block"></div>
        <div class="header-nav sidenav" id="sidenav">
            <div class="user">
                <div class="sidenav-profile">
                    <div class="background"></div>
                    <div class="user-info">
                        <div class="avatar">
                            <img src="/static/images/minecraft.webp" alt="avatar del usuario" loading="lazy">
                        </div>
                        <a href="#">ElNombreDelUser</a>
                        <a href="mailto:admin@gmail.com">admin@gmail.com</a>
                    </div>
                </div>
            </div>
            <nav>
                <ul class="header-list">
                    <li class="list-item"><a href="/"> Inicio </a></li>
                    <li class="list-item example" id="dropdown-btn">
                        <a href="/explorar">
                            Explorar
                        </a>
                        <div class="dropdown-container">
                            <ul class="dropdown-list">
                                <li class="dropdown-list-item">
                                    <a href="/examples/array"> Ejemplos </a>
                                </li>
                                <li class="dropdown-list-item">
                                    <a href="/examples/arrays/"> Arreglos </a>
                                </li>
                                <li class="dropdown-list-item">
                                    <a href="/examples/functions/"> Funciones </a>
                                </li>
                                <li class="dropdown-list-item">
                                    <a href="/examples/files"> Ficheros </a>
                                </li>
                            </ul>
                            <ul class="dropdown-list">
                                <li class="dropdown-list-item">
                                    <a href="/examples/struct/"> Proyectos en Turbo C</a>
                                </li>
                                <li class="dropdown-list-item">
                                    <a href="/examples/intro"> Modo Texto </a>
                                </li>
                                <li class="dropdown-list-item">
                                    <a href="/examples/node"> Modo Gráfico </a>
                                </li>
                            </ul>
                            <ul class="dropdown-list">
                                <li class="dropdown-list-item">
                                    <a href="/examples/documentation/"> Documentación </a>
                                </li>
                                <li class="dropdown-list-item">
                                    <a href="/examples/basicos"> Lenguaje C </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-item"><a href="/about-us"> Acerca de </a></li>
                    <div class="login m-3">
                        <button class="btn btn-primary">Login</button>
                    </div>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header-right">
        {% if session.get('user_id') %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{ session.get('username') }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/profile"> Perfil </a></li>
              <li><a class="dropdown-item" href="/logout"> Salir </a></li>
            </ul>
        </div>
        {% else %}
        <div class="login-desktop">
            <a href="/login" class="btn btn-primary"> Ingresar </a>
        </div>
        {% endif %}
        <div class="btn-sidenav">
            <button class="btn btn-menu" id="btn-menu">
                <i>
                    <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.25 21.5H31.75V18H0.25V21.5ZM0.25 12.75H31.75V9.25H0.25V12.75ZM0.25 0.5V4H31.75V0.5H0.25Z" fill="black"/>
                    </svg>
                </i>
            </button>
        </div>
    </div>
</header>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-primary">
        <p>{{ messages | join(' ') }}</p>
    </div>
  {% endif %}
{% endwith %}
<div class="overlay" id="overlay"></div>