.who-we-are {
    width: 100%;
    background-color: #0a192f;
    background-position: center;
    background-size: cover;
}

.about-section {
    font-family: "Nunito";
    /*width: 100%;*/
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.head-text {
    margin-left: 20px;
}

.about-title {
    font-weight: bold;
    font-size: 40px;
    color: #EA37A3;
    margin-top: 10px;
}

.about-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
}

.about-description {
    max-width: 600px;
    font-size: 25px;
    /*position: relative;*/
    margin: 0;
    color: #ccd6f6;
    cursor: default;
    padding: 1.80rem;
    background-color: #112240;
    border-radius: 16px;
    /*margin-top: 30px;*/
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
    border: 2px solid #1CC5DC;
}

.about-description:hover {
    transform: translate(-7px);
    transition: 300ms;
}

.about-image {
    width: 65%;
    margin-left: 10%;
}

.about-image img {
    max-width: 400px;
    /*height: auto;*/
    /*padding-top: 20%;*/
}

@media (max-width: 768px) {

    .about-section {
        padding-top: 10%;
        padding-left: unset;
        padding-right: unset;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }

    .header-section {
        width: 100%;
        display: unset;
    }

    .head-text {
        text-align: center;
        margin: auto;
    }

    .header-section .head-img {
        display: none;
    }

    .about-title {
        font-size: 35px;
    }

    .about-description {
        order: 2;
        text-align: start;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        max-width: 500px;
    }

    .about-image img {
        order: 1;
        max-width: 300px; 
    }

    .about-image {
        width: auto;
        margin: 0;
    }
}

#goals-section {
    font-family: "Nunito";
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.goals-description {
    /*max-width: 700px;*/
    font-size: 25px;
    color: #E1E8EB;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 50%;*/
    /*position: relative;*/
    /*padding: 1rem 1.80rem;*/
    /*padding-top: 3rem;*/
    padding: 2rem;
    background-color: #112240;
    border-radius: 16px;
    /*margin-top: 40px;*/
    /*margin-left: 50px;*/
    /*border: 2px solid #FFA645;*/
}

.goals-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.goals-title {
    font-size: 40px;
    color:#1CC5DC;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

/*.goals-image {
    padding-left: 10px;
}*/

.goals-image img {
    max-width: 400px;
    height: auto;
    margin-bottom: 0;
    margin-right: 50px;
    /*margin-top: 40px;*/
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 50%;
    /*width: 300px;*/
    /*height: 400px;*/
    padding: 20px;
    background-size: cover;
    background-position: center center;
}

.goals-description ul {
    padding: 0;
}

.goals-description ul .text-section {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-top: 25px;
}

.text-section .text {
    font-size: 25px;
    font-weight: 400;
}

.goals-description ul li:hover {
    transform: translate(-7px);
    transition: 300ms;
}

.goals-description ul li:not(:last-child) {
    margin-bottom: 10px;
}

.goals-description ul li .check-img {
    /*line-height: 60px;*/
    transition: .6s;
    margin-right: 20px;
    margin-top: 5px;
    /*color: #A239EA;*/
    color: #EA37A3;
    justify-content: left;
}

@media (max-width: 768px) {

    #goals-section {
        padding-left: unset;
        padding-right: unset;
    }

    .goals-content {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .goals-image {
        padding: 0;
    }

    .goals-image img {
        max-width: 300px;
        margin: auto;
    }

    .goals-description {
        margin: 40px 20px 20px;
        /*margin-top: 40px;
        margin-left: auto;
        margin-right: auto;*/
        justify-content: space-around;
    }

    .goals-title {
        font-size: 35px;
    }

    .goals-description ul {
        margin: 0;
        padding: 0;
    }
}

.developers-section {
    width: 100%;
    padding: 0;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
}

.developers-header {
    font-family: "Nunito";
    font-weight: bold;
}

.heading3 {
    color: #EA37A3;
    /*height: 130px;*/
    font-size: 40px;
    text-align:center;
    letter-spacing: 3px;
}

.heading3 h1 {
    margin-top: 10%;
}

.profiles {
    width: 80%;
    /*max-width: 800px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
}

.profile {
    max-width: 600px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(158, 95, 95);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*flex-basis: 200px;*/
    /*margin-bottom: 5px;*/
    /*padding: 2rem 1.80rem;
    padding-top: 1rem;*/
    padding: 1.80rem;
    background-color: #112240;
    border-radius: 16px;
    box-shadow: 5px 10px 15px -5px rgba(0, 0, 0, 0.46);
    border: 2px solid #1CC5DC;
}

.profile .profile-img {
    width: 100%;
    max-width: 280px;
    /*height: 270px;
    width: 280px;*/
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: default;
    transition: 400ms;
}

.profile:hover .profile-img {
    filter: grayscale(0);
    /*transform: translate(0, -10px);*/
}

.user-name {
    margin-top: 30px;
    /*margin-left: 10px;*/
    text-align: center;
    font-size: 25px;
    color: #a8b2d1;
}

.social {
    margin-top: 60px;
}

.social ul {
    display: flex;
    margin: 0;
    padding: 0;
    /*transform: translate(-50%, -50%);*/
}

.social ul li {
    list-style: none;
    margin-right: 15px;
}

.social ul li .bi {
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;
}

.social ul li .bi:hover {
    color: #fff;
}

.social ul li a {
    /*position: relative;*/
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.social ul li a:hover {
    transform: translate(0, -10px);
}

.social ul li:nth-child(1) a:hover {
    background-color: #211F1F;
}

.social ul li:nth-child(2) a:hover {
    background-color: #c32aa3;
}

@media (max-width: 768px) {

    .developers-header {
        padding-top: 10%;
    }

    .profiles {
        flex-direction: column;
        align-items: center;
        /*max-width: 500px;*/
        margin-top: 20px;
    }

    .profile {
        /*width: 100%;*/
        max-width: 300px;
        /*margin: 0;*/
        margin-top: 5%;
        justify-content: space-around;
    }

    .profile .profile-img {
        width: 100%;
        max-width: 300px;
        height: unset;
        filter: unset;
    }

    .social {
        max-width: 400px;
    }
}

/*@media (min-width: 769px) {

    .about-image img {
        max-width: 400px;
    }
}*/