{% extends 'layout/index.html' %}

{% block title %}
<title>Submit project | CodeLand</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/styles/add-project.css">
{% endblock %}

{% block body %}
<form class="form-project-container container-fluid" method="POST" action="/add-project" enctype="multipart/form-data">
	<div class="form-project">	
		<div class="project-basic-info">
			<div class="title-project">
				<label for="inputName" class="col-sm-2 col-form-label">Titulo</label>
				<div class="col-sm-10">
					<input type="text" name="title" class="form-control" id="inputName" required>
				</div>
			</div>
			<div class="select-option">
				<h3>Modo del proyecto</h3>
				<div class="option">
					<label>
					<input type="radio" name="project_mode" value="text_mode" required>
					<span>Modo texto</span>
					</label>
					<label>
					<input type="radio" name="project_mode" value="graphic_mode" required>
					<span>Modo gráfico</span>
					</label>
				</div>
			</div>
		</div>
		<div class="">
		<label for="inputDescription" class="col-form-label">Descripcion</label>
		<div class="">
			<input type="text" name="description" class="form-control" id="inputDescription">
		</div>
		</div>
		<fieldset class="description-project">
			<div class="file-project">
				<span>Archivos por defecto</span>
				<input class="input-file-project" name="files" multiple type="file" id="formFile" required>
			</div>
			<div class="file-project">
				<span>Imagen del proyecto</span>
				<input class="input-file-project" type="file" name="image" id="image" required>
			</div>
		</fieldset>
		<div class="submit">
			<label>
				<input type="checkbox" name="isPublic">
				Quieres que sea publico?
			</label>
			<button type="submit" class="btn btn-primary">Subir projecto</button>
		</div>
	</div>
</form>
{% endblock %}
{% block scripts %}
<script src="/static/scripts/addCode.js"></script>
{% endblock %}
