{% extends 'layout/index.html' %}

{% block title %}
<title>Submit project | CodeLand</title>
{% endblock %}

{% block body %}
<form class="container my-5" method="POST" action="/add-project" enctype="multipart/form-data">
    <div class="row mb-3">
      <label for="inputName" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text" name="title" class="form-control" id="inputName">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <input type="text" name="description" class="form-control" id="inputDescription">
      </div>
    </div>
    <div class="row mb-3">
      <select name="modo" id="modo-select">
        <option value="">--Please choose an option--</option>
        <option value="text_mode">Modo texto</option>
        <option value="graphic_mode">Modo gráfico</option>
      </select>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0 my-4">Select info:</legend>
      <div class="mb-3">
        <label for="formFile" class="form-label">Select file project</label>
        <input class="form-control" name="files" multiple type="file" id="formFile">
    </div>
    <div class="mb-3">
          <label for="image" class="form-label">Select image project</label>
            <input class="form-control" type="file" name="image" id="image">
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
{% endblock %}
{% block scripts %}
<script src="/static/scripts/addCode.js"></script>
{% endblock %}
